@font-face {
	font-family: 'Libertad'; /* Thin */
	src: url('/fonts/libertad/2D6B8A_C_0.eot');
	src: url('/fonts/libertad/2D6B8A_C_0.eot?#iefix') format('embedded-opentype'),
		url('/fonts/libertad/2D6B8A_C_0.woff2') format('woff2'), url('/fonts/libertad/2D6B8A_C_0.woff') format('woff'),
		url('/fonts/libertad/2D6B8A_C_0.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-variant: normal;
	font-variant: normal;
}

@font-face {
	font-family: 'Libertad'; /* Thin Italic */
	src: url('/fonts/libertad/2D6B8A_D_0.eot');
	src: url('/fonts/libertad/2D6B8A_D_0.eot?#iefix') format('embedded-opentype'),
		url('/fonts/libertad/2D6B8A_D_0.woff2') format('woff2'), url('/fonts/libertad/2D6B8A_D_0.woff') format('woff'),
		url('/fonts/libertad/2D6B8A_D_0.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
	font-variant: normal;
}

@font-face {
	font-family: 'Libertad'; /* Light */
	src: url('/fonts/libertad/2D6B8A_7_0.eot');
	src: url('/fonts/libertad/2D6B8A_7_0.eot?#iefix') format('embedded-opentype'),
		url('/fonts/libertad/2D6B8A_7_0.woff2') format('woff2'), url('/fonts/libertad/2D6B8A_7_0.woff') format('woff'),
		url('/fonts/libertad/2D6B8A_7_0.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
	font-variant: normal;
}

@font-face {
	font-family: 'Libertad'; /* Light Italic */
	src: url('/fonts/libertad/2D6B8A_9_0.eot');
	src: url('/fonts/libertad/2D6B8A_9_0.eot?#iefix') format('embedded-opentype'),
		url('/fonts/libertad/2D6B8A_9_0.woff2') format('woff2'), url('/fonts/libertad/2D6B8A_9_0.woff') format('woff'),
		url('/fonts/libertad/2D6B8A_9_0.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
	font-variant: normal;
}

@font-face {
	font-family: 'Libertad'; /* Regular */
	src: url('/fonts/libertad/2D6B8A_B_0.eot');
	src: url('/fonts/libertad/2D6B8A_B_0.eot?#iefix') format('embedded-opentype'),
		url('/fonts/libertad/2D6B8A_B_0.woff2') format('woff2'), url('/fonts/libertad/2D6B8A_B_0.woff') format('woff'),
		url('/fonts/libertad/2D6B8A_B_0.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-variant: normal;
}

@font-face {
	font-family: 'Libertad'; /* Regular Italic */
	src: url('/fonts/libertad/2D6B8A_6_0.eot');
	src: url('/fonts/libertad/2D6B8A_6_0.eot?#iefix') format('embedded-opentype'),
		url('/fonts/libertad/2D6B8A_6_0.woff2') format('woff2'), url('/fonts/libertad/2D6B8A_6_0.woff') format('woff'),
		url('/fonts/libertad/2D6B8A_6_0.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Libertad'; /* Book */
	src: url('/fonts/libertad/2D6B8A_0_0.eot');
	src: url('/fonts/libertad/2D6B8A_0_0.eot?#iefix') format('embedded-opentype'),
		url('/fonts/libertad/2D6B8A_0_0.woff2') format('woff2'), url('/fonts/libertad/2D6B8A_0_0.woff') format('woff'),
		url('/fonts/libertad/2D6B8A_0_0.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
}

@font-face {
	font-family: 'Libertad'; /* Book Italic */
	src: url('/fonts/libertad/2D6B8A_1_0.eot');
	src: url('/fonts/libertad/2D6B8A_1_0.eot?#iefix') format('embedded-opentype'),
		url('/fonts/libertad/2D6B8A_1_0.woff2') format('woff2'), url('/fonts/libertad/2D6B8A_1_0.woff') format('woff'),
		url('/fonts/libertad/2D6B8A_1_0.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-variant: normal;
}

@font-face {
	font-family: 'Libertad'; /* Medium */
	src: url('/fonts/libertad/2D6B8A_8_0.eot');
	src: url('/fonts/libertad/2D6B8A_8_0.eot?#iefix') format('embedded-opentype'),
		url('/fonts/libertad/2D6B8A_8_0.woff2') format('woff2'), url('/fonts/libertad/2D6B8A_8_0.woff') format('woff'),
		url('/fonts/libertad/2D6B8A_8_0.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-variant: normal;
}

@font-face {
	font-family: 'Libertad'; /* Medium Italic */
	src: url('/fonts/libertad/2D6B8A_A_0.eot');
	src: url('/fonts/libertad/2D6B8A_A_0.eot?#iefix') format('embedded-opentype'),
		url('/fonts/libertad/2D6B8A_A_0.woff2') format('woff2'), url('/fonts/libertad/2D6B8A_A_0.woff') format('woff'),
		url('/fonts/libertad/2D6B8A_A_0.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-variant: normal;
}

@font-face {
	font-family: 'Libertad'; /* Bold */
	src: url('/fonts/libertad/2D6B8A_3_0.eot');
	src: url('/fonts/libertad/2D6B8A_3_0.eot?#iefix') format('embedded-opentype'),
		url('/fonts/libertad/2D6B8A_3_0.woff2') format('woff2'), url('/fonts/libertad/2D6B8A_3_0.woff') format('woff'),
		url('/fonts/libertad/2D6B8A_3_0.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-variant: normal;
}

@font-face {
	font-family: 'Libertad'; /* Bold Italic */
	src: url('/fonts/libertad/2D6B8A_5_0.eot');
	src: url('/fonts/libertad/2D6B8A_5_0.eot?#iefix') format('embedded-opentype'),
		url('/fonts/libertad/2D6B8A_5_0.woff2') format('woff2'), url('/fonts/libertad/2D6B8A_5_0.woff') format('woff'),
		url('/fonts/libertad/2D6B8A_5_0.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-variant: normal;
}

@font-face {
	font-family: 'Libertad'; /* Extra-Bold */
	src: url('/fonts/libertad/2D6B8A_4_0.eot');
	src: url('/fonts/libertad/2D6B8A_4_0.eot?#iefix') format('embedded-opentype'),
		url('/fonts/libertad/2D6B8A_4_0.woff2') format('woff2'), url('/fonts/libertad/2D6B8A_4_0.woff') format('woff'),
		url('/fonts/libertad/2D6B8A_4_0.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-variant: normal;
}

@font-face {
	font-family: 'Libertad'; /* Extra-Bold Italic */
	src: url('/fonts/libertad/2D6B8A_2_0.eot');
	src: url('/fonts/libertad/2D6B8A_2_0.eot?#iefix') format('embedded-opentype'),
		url('/fonts/libertad/2D6B8A_2_0.woff2') format('woff2'), url('/fonts/libertad/2D6B8A_2_0.woff') format('woff'),
		url('/fonts/libertad/2D6B8A_2_0.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-variant: normal;
}
