$green: var(--green, #5BE4A0);
$dark-green: var(--dark-green, #008542);
$blue: var(--blue, #0080FF);
$black: var(--black, #14191F);
$gray: var(--gray, #738291);
$light-gray: var(--light-gray, #D9E5F2);
$x-light-gray: var(--x-light-gray, #F0F5FA);
$line: var(--line, #D9E5F2);
$emphasis: var(--emphasis, #FEA800);

$neutral-light: var(--neutral-light, #F0F5FA);
$neutral-dark: var(--neutral-dark, #14191F);

$bg: var(--bg, white);
$bg-alt: var(--bg-alt, color-mix(in oklab, #{$bg} 80%, #{$gray}));
$bg-transparent: var(--bg-transparent, color-mix(in oklab, #{$bg-alt} 25%, transparent));

$text: var(--text, #{$neutral-dark});
$text-dim: var(--text-dim, color-mix(in oklab, #{$bg} 20%, #{$text}));
$text-green: var(--text-green, #{$dark-green});

$link: var(--link, #{$blue});
$link-hover: var(--link-hover, color-mix(in oklab, #{$link}, #{$text} 10%));
$link-active: var(--link-active, color-mix(in oklab, #{$link}, #{$text} 20%));

$line: var(--line, #{$gray});
$line-bright: var(--line, #{$green});
$line-active: var(--line-active, #{$blue});
$line-dim: var(--line-dim, color-mix(in oklab, #{$bg} 50%, #{$line}));

$button-bg: var(--button-bg, color-mix(in oklab, #{$text} 90%, #{$bg}));

$shadow: var(--shadow, (0 0.25rem 0.5rem rgba(0, 0, 0, 0.15), 0 0.5rem 1rem rgba(0, 0, 0, 0.15), 0 0.75rem 1.5rem rgba(0, 0, 0, 0.15)));